<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      * {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">URL Shortener</h1>

    <form
      method="POST"
      action="/url"
      style="display: flex; justify-content: center"
    >
      <label for="url">Enter your original URL: </label>
      <input
        type="text"
        name="url"
        id="url"
        placeholder="https://example.com"
        style="margin: 0 6px"
        required
      />
      <button type="submit">Generate</button>
    </form>

    <div style="margin: 1rem auto">
      <% if(locals.id){ %>
      <p>URL Generated: http://localhost:8000/url/<%= id %></p>
      <% } %>
    </div>

    <% if(locals.urls){ %>

    <table style="display: flex; justify-content: center; margin: 1rem">
      <tr>
        <th>Short URLs</th>
        <th>Redirect URLs</th>
        <th>Visit History</th>
      </tr>

      <% urls.forEach(url=>{ %>
      <tr>
        <td style="padding-right: 1rem"><%= url.shortId %></td>
        <td style="padding-right: 1rem"><%= url.redirectUrl %></td>
        <td><%= url.visitHistory.length %></td>
      </tr>
      <% }) %>
    </table>

    <% } %>
  </body>
</html>
